
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; */

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
h2, h1{
  
  font-family: SF Pro Display!important;

}


ul, li, a, p, h5, h6, h3, h4{
 font-family: "DM Sans", sans-serif !important; 
}

@font-face {
  font-family: SF Pro Display;
  src: url(/assets/fonts/sfpro/SFPRODISPLAYBOLD.OTF);
}





.para-primary{
    font-size: 16px!important;
    font-weight: 400!important;
    line-height: 20px!important;
    color: #293347!important;
}





