
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; */

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
h2, h1{
  
  font-family: SF Pro Display!important;

}

@font-face {
  font-family: SF Pro Display;
  src: url(/assets/fonts/sfpro/SFPRODISPLAYBOLD.OTF);
}







